.join{
    background-image: url("/img/image 2.png");
    width: 1117px;
    height: 664px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}