.join{
    background-image: url("/img/image 2.png");
    background-repeat: no-repeat;
    background-position-x: right;
    width: 1117px;
    height: 664px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    .join-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        .join-text-h2 h2{
            color: #000;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        .join-text-p p{
            color: rgba(0, 0, 0, 0.46);
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .join-text-btn a{
            border-radius: 10px;
            background: #FC8621;
            color: #FFF;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration: none;
            padding: 5px 35px;
        }
    }
    .join-img-1{
        position: absolute;
        top: 80%;
        left: 35%;
    }
    .join-img-2{
        position: absolute;
        top: 10%;
        left: 50%;
    }
    .join-img-3{
        position: absolute;
        top: 50%;
        left: 15%;
    }
    .join-img-4{
        position: absolute;
        top: 20%;
        left: 85%;
    }
}
@media (max-width: 576px){
    .join-img-1{
        display: none;
    }
    .join-img-2{
        display: none;
    }
    .join-img-3{
        display: none;
    }
    .join-img-4{
        display: none;
    }
}